.download {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5vh;
}

.download__item {
  height: 20vh;
  width: 30%;
  border-radius: 5px;
  border: 1px #7c6f6f solid;
  margin: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.download__item__title {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}

.download__item__description {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

.download__item > a {
  width: 100%;
}

.download__item button {
  background-color: orange;
  color: white;
  width: 100%;
  border: none;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.download__item button:hover {
  background-color: rgb(226, 159, 35);
}
