.news-details__container {
  min-height: 50vh;
  width: 70%;
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-details__title {
  margin-top: 5vh;
  color: #574339;
  font-weight: 500;
  font-size: 24px;
}

.news-details__date {
  margin-top: 2vh;
  color: #7c6f6f;
  font-weight: 300;
  display: flex;
  font-size: 18px;
  align-items: center;
}

.news-details__description {
  width: 100%;
  white-space: pre-wrap;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  margin-top: 5vh;
  width: 100%;
  color: #574339;
  font-weight: 300;
  line-height: 1.5;
  text-indent: 1.5em; /* Отступ первой строки */
  text-align: justify; /* Выравнивание по ширине */
}

.news-details__image {
  height: 40vh;
  border-radius: 5px;
  margin: 5vh;
}

.news-details__comments-block {
  min-height: 20vh;
  width: 100%;
}

.comments-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
