.add-user__form {
  margin-top: 5vh;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f7f8;
  width: 100%;
}

.add-user__form__title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: orange;
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-user__form__label {
  width: 60%;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #7c6f6f;
}

.add-user__form__input {
  width: 60%;
  height: 45px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: 1px #7c6f6f solid;
  border-radius: 5px;
  color: #7c6f6f;
  background-color: white;
}

.add-user__form__browse-file__block {
  width: 60%;
  height: 45px;
  font-size: 16px;
  margin-top: 2vh;
}

.add-user__form__attach {
  border: 1px #7c6f6f solid;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #7c6f6f;
}

.add-user__form__file-name {
  font-size: 16px;
  font-weight: 700;
  color: #7c6f6f;
  margin-left: 2vh;
}

.add-user__form__attach-inp {
  display: none;
}

.add-user__form__error {
  width: 60%;
  color: red;
  text-align: center;
}

.add-user__form button {
  margin: 10px;
  width: 30%;
  height: 50px;
  font-size: 22px;
  font-weight: 500;
  background-color: orange;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 300ms;
}

.add-user__form button:hover {
  background-color: rgb(226, 159, 35);
  color: white;
}

.delete-btn {
  background-color: #003366 !important;
}

.delete-btn:hover {
  background-color: red !important;
}
