.our-mission {
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10px;
}

.our-mission__container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-mission__container h1 {
  font-weight: 700;
  font-size: 16px;
  color: orange;
}

.our-tasks__section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.our-task__block {
  text-align: center;
  width: 30%;
  margin-top: 5vh;
  line-height: 1.5;
  font-weight: normal;
}

.our-mission__more-btn {
  cursor: pointer;
  font-weight: normal;
  margin: 5vh;
  padding: 10px 15px;
  font-size: 16px;
  color: #003366;
  border: 2px #003366 solid;
  border-radius: 5px;
  transition: 200ms;
}

.our-mission__more-btn:hover {
  color: #4c6783;
  border-color: #4c6783;
}

@media only screen and (max-width: 600px) {
  .our-tasks__section {
    flex-direction: column;
    align-items: center;
  }
  .our-task__block {
    width: 90%;
  }
}
