@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf) format("ttf");
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
